<div ng-init="appVM.activePage = 'faders'">
	<md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="margin: 0 auto;">
        	Faders
        </h2>
      </div>
    </md-toolbar>
</div>
<md-content layout-padding>
	<md-slider-container ng-repeat="fader in fadersVM.buttonData.data.faders">
		<span>{{fader.name}}</span>
		<md-slider flex min="-100" max="100" ng-model="fader.value" aria-label="{{fader.name}}" id="{{fader.name}}-slider" ng-change="fadersVM.sendFaderChange(fader, $index)"></md-slider>
		<md-input-container>
			<input flex type="number" ng-model="fader.value" aria-label="{{fader.name}}" aria-controls="{{fader.name}}-slider" ng-change="fadersVM.sendFaderChange(fader, $index)" max="100" min="-100">
		</md-input-container>
	</md-slider-container>
</md-content>
